.b6063 .ribbon,
.b6063 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-8-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6063 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6063 .ribbon-tips,
.b6063 .ribbon-side,
.b6063 .ribboncart-tips,
.b6063 .ribboncart-wrapper,
.b6063 span {
  display: none;
}

.b6064 .ribbon,
.b6064 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-10-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6064 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6064 .ribbon-tips,
.b6064 .ribbon-side,
.b6064 .ribboncart-tips,
.b6064 .ribboncart-wrapper,
.b6064 span {
  display: none;
}

.b6065 .ribbon,
.b6065 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-15-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6065 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6065 .ribbon-tips,
.b6065 .ribbon-side,
.b6065 .ribboncart-tips,
.b6065 .ribboncart-wrapper,
.b6065 span {
  display: none;
}

.b6066 .ribbon,
.b6066 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-17-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6066 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6066 .ribbon-tips,
.b6066 .ribbon-side,
.b6066 .ribboncart-tips,
.b6066 .ribboncart-wrapper,
.b6066 span {
  display: none;
}

.b6005 .ribbon,
.b6005 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-20-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6005 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6005 .ribbon-tips,
.b6005 .ribbon-side,
.b6005 .ribboncart-tips,
.b6005 .ribboncart-wrapper,
.b6005 span {
  display: none;
}

.b6006 .ribbon,
.b6006 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-30-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6006 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6006 .ribbon-tips,
.b6006 .ribbon-side,
.b6006 .ribboncart-tips,
.b6006 .ribboncart-wrapper,
.b6006 span {
  display: none;
}

.b6007 .ribbon,
.b6007 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-35-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6007 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6007 .ribbon-tips,
.b6007 .ribbon-side,
.b6007 .ribboncart-tips,
.b6007 .ribboncart-wrapper,
.b6007 span {
  display: none;
}

.b6008 .ribbon,
.b6008 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-40-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6008 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6008 .ribbon-tips,
.b6008 .ribbon-side,
.b6008 .ribboncart-tips,
.b6008 .ribboncart-wrapper,
.b6008 span {
  display: none;
}

.b6009 .ribbon,
.b6009 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-45-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6009 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6009 .ribbon-tips,
.b6009 .ribbon-side,
.b6009 .ribboncart-tips,
.b6009 .ribboncart-wrapper,
.b6009 span {
  display: none;
}

.b6010 .ribbon,
.b6010 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-50-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6010 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6010 .ribbon-tips,
.b6010 .ribbon-side,
.b6010 .ribboncart-tips,
.b6010 .ribboncart-wrapper,
.b6010 span {
  display: none;
}

.b6011 .ribbon,
.b6011 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-55-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6011 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6011 .ribbon-tips,
.b6011 .ribbon-side,
.b6011 .ribboncart-tips,
.b6011 .ribboncart-wrapper,
.b6011 span {
  display: none;
}

.b6012 .ribbon,
.b6012 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-80-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6012 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6012 .ribbon-tips,
.b6012 .ribbon-side,
.b6012 .ribboncart-tips,
.b6012 .ribboncart-wrapper,
.b6012 span {
  display: none;
}

.b6013 .ribbon,
.b6013 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-105-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6013 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6013 .ribbon-tips,
.b6013 .ribbon-side,
.b6013 .ribboncart-tips,
.b6013 .ribboncart-wrapper,
.b6013 span {
  display: none;
}

.b6014 .ribbon,
.b6014 .ribboncart {
  background: url("https://eu.evocdn.io/dealer/1021/content/media/Fellowes Cashback Folder/Cashback-130-UK.png")
    no-repeat center !important;
  background-size: contain !important;
  width: 87px;
  height: 87px;
}
.b6014 .ribboncart {
  width: 40px;
  height: 40px;
}
.b6014 .ribbon-tips,
.b6014 .ribbon-side,
.b6014 .ribboncart-tips,
.b6014 .ribboncart-wrapper,
.b6014 span {
  display: none;
}
